<div class="row">
  <div class="col-lg-12">
      <div class="white-box">
          
                  <div class="panel panel-warning">
                          
                          <div class="panel-heading">NEW PSV OPERATOR</div>
                          <div class="panel-wrapper collapse in" aria-expanded="true">
                              <div class="panel-body">
                                  <form action="#" class="form-horizontal" method="POST">
                                      <input type="hidden" name="newpsvoperatorformsubmitted" value="yes">
                                      <div class="form-body">
                                          <h3 class="box-title">ORGANIZATION DETAILS</h3>
                                          <hr class="m-t-0 m-b-40">
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Organization Name</label>
                                                      <div class="col-md-9">
                                                          <input type="text" class="form-control" name="organization_name" required="">
                                                          <span class="help-block"> Registered organization name </span>  
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Organization Type</label>
                                                      <div class="col-md-9">
                                                        <ng-select [ngClass]="'ng-select'" [options]="searchableselect" > </ng-select>  
                                                          <span class="help-block"> Country where organization is Registered</span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                          </div>
                                          <!--/row-->
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Trading Name</label>
                                                      <div class="col-md-9">
                                                          <input type="text" class="form-control" name="trading_name" required=""> 
                                                          <span class="help-block"> Organization trading name </span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Registration Number</label>
                                                      <div class="col-md-9">
                                                          <input type="text" class="form-control" name="registration_number" required=""> 
                                                          <span class="help-block">Organization registration number </span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                          </div>
                                          <!--/row-->
                                           <div class="row">
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Tax Number</label>
                                                      <div class="col-md-9">
                                                          <input type="text" class="form-control" name="tax_number"> 
                                                          <span class="help-block"> Tax number </span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Organization Website</label>
                                                      <div class="col-md-9">
                                                          <input type="text" class="form-control" name="web_address"> 
                                                          <span class="help-block">Organization website </span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                          </div>
                                          <!--/row-->
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Contact No</label>
                                                      <div class="col-md-9">
                                                          <input type="text" class="form-control" name="phone_number" required=""> 
                                                          <span class="help-block"> Contact telephone number </span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Email Address</label>
                                                      <div class="col-md-9">
                                                          <input type="text" class="form-control" name="email_address" required=""> 
                                                          <span class="help-block"> Contact email address </span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                          </div>
                                          <!--/row-->
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Booking API URL</label>
                                                      <div class="col-md-9">
                                                          <input type="text" class="form-control" name="booking_api_url"> 
                                                          <span class="help-block"> Booking API endpoint</span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Parceling API URL</label>
                                                      <div class="col-md-9">
                                                          <input type="text" class="form-control" name="parceling_api_url"> 
                                                          <span class="help-block">Parceling API endpoint </span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                          </div>
                                          <!--/row-->
                                          <h3 class="box-title">CONTACT DETAILS</h3>
                                          <hr class="m-t-0 m-b-40">
                                          <!--/row-->
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Address</label>
                                                      <div class="col-md-9">
                                                          <input type="text" class="form-control" name="postal_address" required=""> 
                                                          <span class="help-block"> Organization address</span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Postal code</label>
                                                      <div class="col-md-9">
                                                          <input type="text" class="form-control" name="postal_code" required=""> 
                                                          <span class="help-block">Address postal code e.g 00100 </span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                          </div>
                                          <!--/row-->
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">City</label>
                                                      <div class="col-md-9">
                                                          <input type="text" class="form-control" name="city" required=""> 
                                                          <span class="help-block">City organization is located </span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Country</label>
                                                      <div class="col-md-9">
                                                          <select name="country" class="form-control" required="">
                                                              <option selected value="">Select ...</option>
                                                              <option value="Kenya">Kenya</option><option value="Rwanda">Rwanda</option>
                                                          </select>
                                                          <span class="help-block"> Country where organization is Registered</span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                          </div>
                                          <!--/row-->
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Head Office Location</label>
                                                      <div class="col-md-9">
                                                          <input type="text" class="form-control" name="hq_location" required=""> 
                                                          <span class="help-block">Head office location </span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3">Status</label>
                                                      <div class="col-md-9">
                                                        <ng-select [ngClass]="'ng-select'" [options]="organizationStatusselect" > </ng-select>  
                                                          
                                                          <span class="help-block"> Organization status</span> 
                                                      </div>
                                                  </div>
                                              </div>
                                              <!--/span-->
                                          </div>