<!-- material-date-picker start-->
<div class="white-box">    
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 m-b-30 material-picker">           
        <div class="input-group md-date-pic">
          <material-datepicker  #fromdate [date]="defaultDateSelected" class="cal-cont"></material-datepicker>
          <i class="fa fa-calendar cal-icon"></i>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 m-b-30 material-picker">       
        <div class="input-group md-date-pic">
          <material-datepicker #todate [date]="defaultDateSelected" class="cal-cont"></material-datepicker>
          <i class="fa fa-calendar cal-icon"></i>
        </div>
      </div>      
      <div class="col-sm-12 col-md-6 col-lg-3 m-b-30 material-picker">
          <button class="btn btn-primary" (click)="generateReport(todate,fromdate)">Generate Report</button>        
    </div>    
  </div>
</div>

<app-loading *ngIf="showLoading"></app-loading>



<div class="main white-box" *ngIf="!showLoading">
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row row colorbox-group-widget">
            <div class="col-sm-3 col-md-3 col-sm-6 info-color-box">
                <div class="white-box">
                    <div class="media bg-primary">
                        <div class="media-body">
                            <h3 class="info-count">{{totalReceived | currency : 'KES'}}<span class="pull-right"><i class="mdi mdi-checkbox-marked-circle-outline"></i></span></h3>
                            <p class="info-text font-12">Total Collected Today</p>
                            <p class="info-ot font-15"><span class="label label-rounded">Banked {{totalBanked | currency : 'KES'}}</span></p>
                            <p class="info-ot font-15"><span class="label label-rounded">Due {{totalDue | currency : 'KES'}}</span></p>
                        </div>
                    </div>
                </div>      
            </div>      
            <div class="col-sm-3 col-md-3 col-sm-6 info-color-box">
                <div class="white-box">
                    <div class="media bg-warning">
                        <div class="media-body">
                            <h3 class="info-count">1,413,000.00 KES<span class="pull-right"><i class="mdi mdi-checkbox-marked-circle-outline"></i></span></h3>
                            <p class="info-text font-12">Wallet Balance</p>                            
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-sm-3 col-sm-3 col-md-3 col-sm-6 info-color-box">
                <div class="white-box">
                    <div class="media bg-success">
                        <div class="media-body">
                            <h3 class="info-count">{{totalCashOut | currency : 'KES'}}<span class="pull-right"><i class="mdi mdi-checkbox-marked-circle-outline"></i></span></h3>
                            <p class="info-text font-12">Total Cash Out</p>
                            <!-- <p class="info-ot font-15"><span class="label label-rounded">Total Cash In</span></p> -->
                            <p class="info-ot font-15"><span class="label label-rounded">{{ totalCashIn | currency : 'KES' }}</span></p>
                        </div>
                    </div>
                </div>  
            </div>      
            <div class="col-sm-3 col-sm-3 col-md-3 col-sm-6 info-color-box">
                <div class="white-box">
                    <div class="media bg-warning">
                        <div class="media-body">
                            <h3 class="info-count">{{totalTickets}}<span class="pull-right"><i class="mdi mdi-checkbox-marked-circle-outline"></i></span></h3>
                            <p class="info-text font-12">Ticket Issued</p>
                            <!-- <p class="info-ot font-15"><span class="label label-rounded">Banked 32,200.00 KES</span></p>                             -->
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        
    </div>
</div>
<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">        
        <app-agent-summary [data]='AgentData'></app-agent-summary>        
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">        
            <app-zone-summary [data] ='OfficeData'></app-zone-summary>        
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12">
        <app-revenue-summary [data] ='VehicleData' ></app-revenue-summary>
    </div>
    <div class="col-md-6 col-lg-6  col-sm-6">
        <app-date-summary [data]='DateData'></app-date-summary>       
    </div>
    
</div>
<!-- row -->
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <app-booking-summary [data]="TicketData" ></app-booking-summary>
    </div>   
   
</div>
</div>
