.seat-grid{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5,1fr);    
    grid-auto-rows: 5;
}
.seat-row{
    /* background-color: darkgray; */
    display: grid;
    justify-content: center;
    grid-template-columns: 7vh; 
    align-items: center; 
}
.seat-area{
    background-position: center;    
    background-size: 65%;
    background-repeat: no-repeat;
    text-align: center;      
}
.inner-seat-row{    
    margin: 1px;       
    color: #ffffff;
    /* background-color: rgb(184, 201, 185); */
    background-position: center;
    cursor: pointer;
}
.third_column{
    align-self: flex-end;
}
.seat-label{
    color: #FF6F00;
    font-weight: 600;
    text-align: center;
}

