<div class="panel panel-warning">
  <div class="panel-heading">Abraham nyamwaya birundu MLL6NRARFE (Inbound)</div>
  <div class="panel-wrapper collapse in" aria-expanded="true">
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Service</label>
                <div class="col-md-9">
                  <p class="form-control-static"> MPESA C2B </p>
                </div>
              </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Name:</label>
                <div class="col-md-9">
                  <p class="form-control-static"> Abraham nyamwaya birundu </p>
                </div>
              </div>
            </div>
            <!--/span-->
          </div>
          <!--/row-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Destination Type:</label>
                <div class="col-md-9">
                  <p class="form-control-static"> MPESA Till Number </p>
                </div>
              </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Destination:</label>
                <div class="col-md-9">
                  <p class="form-control-static"> 702248 </p>
                </div>
              </div>
            </div>
            <!--/span-->
          </div>
          <!--/row-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Wallet Name:</label>
                <div class="col-md-9">
                  <p class="form-control-static"> MPESA </p>
                </div>
              </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Amount:</label>
                <div class="col-md-9">
                  <p class="form-control-static"> KES 1000.00 </p>
                </div>
              </div>
            </div>
            <!--/span-->
          </div>
          <!--/row-->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Source Acc No:</label>
                <div class="col-md-9">
                  <p class="form-control-static"> 254746031067 </p>
                </div>
              </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Destination Acc No:</label>
                <div class="col-md-9">
                  <p class="form-control-static"> </p>
                </div>
              </div>
            </div>
            <!--/span-->
          </div>
          <!--/row-->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Transfer Ref:</label>
                <div class="col-md-9">
                  <p class="form-control-static"> MA00128246 </p>
                </div>
              </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Transaction Id:</label>
                <div class="col-md-9">
                  <p class="form-control-static"> MLL6NRARFE </p>
                </div>
              </div>
            </div>
            <!--/span-->
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Transfer Date:</label>
                <div class="col-md-9">
                  <p class="form-control-static"> 2018-12-21T11:10:51 </p>
                </div>
              </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Update Date:</label>
                <div class="col-md-9">
                  <p class="form-control-static"> 2018-12-21 11:10:51 </p>
                </div>
              </div>
            </div>
            <!--/span-->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>