<div class="row">
  <div class="col-sm-12 col-xs-12">
    <div class="white-box">      
        <!-- form-group -->
        <div class="form-group">
          <label class="control-label m-t-20" for="searchticket">Search PSV SACCO/Company</label>
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn waves-effect waves-light btn-warning" (click)="searchCompany(searchKey.value)" ><i class="fa fa-search"></i></button>
            </span>
            <input type="text" #searchKey (keyup.enter)="searchCompany(searchKey.value)" class="form-control" placeholder="Enter Company, Sacco name">
          </div>
        </div>      
      <!-- form-group -->      
    </div>
  </div>
</div>