<div class="row">
  <div class="col-sm-12 col-xs-12">
    <div class="white-box">
      <form>
        <!-- form-group -->
        <div class="form-group">
          <label class="control-label m-t-20" for="searchticket">Search Payment</label>
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn waves-effect waves-light btn-warning"><i class="fa fa-search"></i></button>
            </span>
            <input type="text" id="ide" name="searchticket" class="form-control" placeholder="ENTER PHONE NUMBER OR PAYMENT CONFIRMATION ID">
          </div>
        </div>
      </form>
      <!-- form-group -->
    </div>
  </div>
</div>
<app-loading></app-loading>
<app-payment-details></app-payment-details>
