<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div class="white-box">
          <h3>{{route}}</h3>
          <h4> {{from_city}} To {{to_city}} On {{travel_date.split(',')[0]}}</h4>
          <h5>Depature Time {{travel_date.split(',')[1]}}</h5>
        </div>
      </div>      
      <div class="col-md-12">
        <div class="white-box">
          <p>Select Seat</p>
          <hr>
          <app-loading *ngIf="loadingSeats"></app-loading>
          <app-eleven-seater *ngIf="seater == 49 && !loadingSeats" [available_seats]="seatsFound" (seatSelectionEvent)="onseatSelection($event)"></app-eleven-seater>
          <app-foutynine-seater *ngIf="seater == 11 && !loadingSeats" [available_seats]="seatsFound" (seatSelectionEvent)="onseatSelection($event)"></app-foutynine-seater>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="white-box" *ngIf="selectedSeats.length == 0">
      <p>Please Select Seat/s to Book</p>
    </div>
    <app-loading *ngIf="showBookingProgress"></app-loading>   
  </div>
  <div class="col-md-8" *ngIf="selectedSeats.length != 0">
    <div class="white-box">
      <form [formGroup]="bookingForm">
        <div class="passengerArray" formArrayName="passangers" *ngFor="let item of bookingForm.get('passangers').controls; let i = index;">
          <fieldset [formGroupName]="i">
            <legend>
              <p class="legend-title">Seat {{item.get('selected_seat').value}} Passenger Details</p>
            </legend>
            <div class="form-row">
              <div class="col-md-3">
                <input type="text" class="form-control" formControlName="passenger_name" placeholder="Full Name {{seat}}">
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" formControlName="phone_number" placeholder="Phone Number">
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" formControlName="id_number" placeholder="Id Number">
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" formControlName="email_address" placeholder="Email Address">
              </div>              
            </div>            
          </fieldset>
        </div>        
      </form>
    </div> 
    <!-- white-box -->
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="reserveSeat()" >Reserve & Pay</button>
      </div>
  </div>
  </div> 
</div>